{% extends 'backtemplates/gestionRestau.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.id }}</td>
                    <td>{{ categorie.nomCategorie }}</td>
                    <td>{{ categorie.descrCategorie }}</td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No categories found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_plat_new') }}" class="btn btn-success">Create New Category</a>
{% endblock %}
